@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-titulo: 'Playfair Display', serif;
  --font-corpo: 'Lato', sans-serif;

  --bg-creme: #f9f3e5;
  --action-orange: #F5B08E;
  --text-chocolate: #4A2C2A;
  --border-bege: #e8dcc4;
  --accent-green: #8c946c;
  --border-creme: #E8DCC4
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}